.logo{
  width: 100px;
  height: 80px;
}

.ancho{
  width: 100%;
}

.cartaFoto{
  width: 210px;
  height: 300px;
  margin: 20px;
}

.carta{
  width: 280px;
  height: 330px;
  margin: 20px;
}

.carro{
  width: 150px;
  height: 150px;
}
.eliminar{
  font-size: 20px;
  font-weight: bolder;
  background-color: transparent;
  border: none;
  padding: 0px;
  margin-left: 10px;
  margin-bottom: -50px;
}
.eliminar:hover{
  color: forestgreen;
}

.tarjeta{
  width: 40px;
  height: 30px;
  padding: 5px;
}

.tarjeta{
  width: 40px;
  height: 30px;
  padding: 5px;
}

.tarjeta{
  width: 40px;
  height: 30px;
  padding: 5px;
}

.margen{
  margin-bottom: 250px;
}

.detalle{
  width: 100px;
  
}

.carta-cantidad {
    padding: 5px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-image: linear-gradient(90deg,#aaccb1,#e2f5e0);
    font-size: 13px;
}
.paquete{
  line-height: 110%;
  margin-bottom: 10px;
  font-size: 13px;
}

.informacion{
  background-color: aliceblue;
  margin: 10px;
}

.boton-cantidad{
    font-size: 20px;
    font-weight: bolder;
    background-color: transparent;
    border: none;
}

.img-cart{
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-bottom: 50px;
  border-radius: 25%;
}

.titulo-cart{
   text-align: center;
    font-size: 20px;
    font-family: Roboto Condensed;
    font-weight: 700;
    color: forestgreen;
}

.informacion-cart{
  background-color:  aliceblue;
  padding: 10px;
  border-radius: 10%;
  margin-top: 5px;
}

.formulario {
  grid-template-columns: 1fr ;
  grid-gap: 1.25rem;
  margin: 50px;
}